
body{
   color:#34c6eb;
   border: 10px black; padding: 10px;
}
p {
       background-color:lightpink;
       border: 10px black; padding: 10px;
    }
a {
    color:#03fc35;
}
h1 {
    color:#fc4103; 
    border: 10px black; padding: 10px;
}
nav {
    color:#9803fc; 
    border:10px solid #ffffff; 
     padding: 15px; 
     margin-bottom: 30px;

}
nav a{
    color:#03f4fc; 
}
nav a:hover {background-color:#f0fc03;
 }       
 .img {float: left;}
                .clear {clear:both;}
                .p {float: right;}

                .part2 {display: flex;}
                .article1, .article2, .article3 {margin: 10px;}
                .article1 {flex: 2; order: 3; background-color: darkorchid; border-radius: 1em;}
                .article2 {flex: 1; order: 2;}
                .article3 {flex: 1; order: 1;}
.contact-info {
    overflow: hidden; /* to clear the floats */
}

.email {
    float: left;
}
.address {
    float: right;
}
